#wrapper {
    padding: 0 15px;
}

.messenger {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #26a69a;
}

.messenger__form {
    display: flex;
    border-top: 1px solid #26a69a;
}

.messenger__message-list {
    background: #f7ffff;
    margin: 0;
    padding: 10px 12px!important;
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
}

.messenger__input {
    border-bottom: 0!important;
    margin: 0!important;
    height: auto!important;
    padding: 0 5px!important;
}

.messenger__button {
    border-radius: 0!important;
    box-shadow: none!important;
}

.messenger__message {
    border-radius: 8px 8px 8px 0;
    background: #e1e1e1;
    position: relative;
    padding: 10px;
    word-break: break-word;
    margin-bottom: 7px;
    width: max-content;
    max-width: 55%;
}

.messenger__message--user {
    background: #ccf4f1;
    border-radius: 8px 8px 0 8px;
    align-self: flex-end;
}

.messenger__message:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    border: 5px solid transparent;
    border-right: 5px solid #e1e1e1;
    border-bottom: 5px solid #e1e1e1;
}

.messenger__message--user:before {
    border: 5px solid transparent;
    border-left: 5px solid #ccf4f1;
    border-bottom: 5px solid #ccf4f1;
    left: 100%;
}
