#wrapper {
    padding: 15px;
}
form {
    width: 500px;
    margin: 0 auto;
}
.input-row {
    display: flex;
}
.input-row.error input {
    border-bottom: 1px solid red;
}
.input-row .btn {
    margin-left: 10px;
    min-width: 75px;
}
