#wrapper {
    padding: 0 15px;
}
.form {
    display: flex;
    align-items: center;
}
.form input {
    margin-right: 15px;
    max-width: 200px;
}
.users-list li {
    margin-bottom: 15px;
}
.users-list li .btn {
    margin-left: 15px;
}
